@{
    ViewBag.Title = "Home Page";
}

<h1>Image WebApp</h1>

<div class="row">
    <div class="col-md-6">
        <div>
            <b>Service Status:</b>
            <text style="color:@Model.StatusColor">
                @Model.ServiceStatus
            </text>
        </div>
        <div>
            <h5>Pics have been transered so far.</h5>
        </div>
    </div>
    <div class="col-md-6">
        <table style="width:100%;text-align:center">
            <tr style="background-color:darkgrey">
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>ID</b></td>
            </tr>
            @foreach (var student in Model.Students) {
                <tr>
                    <td>@student[0]</td>
                    <td>@student[1]</td>
                    <td>@student[2]</td>
                </tr>
            }
        </table>
    </div>
</div>

