@model ImageWebApp.Models.LogsModel

@{
    ViewBag.Title = "Logs";
}

<assemblies>
    <add assembly="ImageService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
</assemblies>

<h2>Logs</h2>
<table>
    <thead>
        <tr>
            <th>Types</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Logs) {
            <tr>
                <td width="100">  @Html.Raw(log.Item1) </td>
                <td>  @Html.Raw(log.Item2) </td>
            </tr>
        }
    </tbody>
</table>