@model ImageWebApp.Models.PhotosModel

@{
    ViewBag.Title = "Photos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var pic in Model.Pictures) {
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-circle" src="/@pic["thumb"].Replace(Server.MapPath("~"),"").Replace("\\","/")" alt="Avatar">
            <div class="caption">
                <h4>Thumbnail label</h4>
            </div>
        </div>
    </div>
}