
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Are you sure you want to remove this handler?</h2>
<p>
    @ViewBag.Dir
</p>

<button id="OK" onclick="location.href='@Url.Action("RemoveOK", "Home", new { dir = ViewBag.Dir })'">OK</button>
<button id="Cancel" onclick="location.href='@Url.Action("Config", "Home", new { })'">Cancel</button>
