
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Are you sure you want to remove this handler?</h2>
<p>
    @ViewBag.Dir
</p>

<button id="OK">OK</button>
<button id="Cancel">Cancel</button>

<script class="text/javascript">
    document.getElementById("OK").onclick = function () {
        document.getElementById("OK").disabled = true;
        document.getElementById("Cancel").disabled = true;
        location.href = "RemoveOK";
    }
</script>
<script class="text/javascript">
    document.getElementById("Cancel").onclick = function () {
        document.getElementById("OK").disabled = true;
        document.getElementById("Cancel").disabled = true;
        location.href = "Config";
    }
</script>